body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(95, 141, 170);
}

.title {
    margin: 10px;
    color: white;
}

.off-screen-menu {
    background-color: lightslategrey;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0%;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    transition: .3s ease;
    color: whitesmoke;
    border: 2px dashed darkslategray;
}

.off-screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(24, 24, 24);
}

div li a{
    color: whitesmoke;

    
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 3px;
    width: 50px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease; 
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -25%) rotate(135deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
    transition: 0s;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 25%) rotate(-135deg);
}

#bodyP {
    margin-top: 25px;
    margin-left: 25px;
}

.img1 {
    margin-left: 15%;
}

.img2 {
    margin-left: 15%;
}

.img3 {
    margin-left: 15%;
}


.footer {
    height: 20px;
    width: fill;
    background-color: black;
    color: white;
}